files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS server

      server {
          listen       443;
          server_name  localhost;
          
          ssl                  on;
          ssl_certificate      /etc/pki/tls/certs/server.crt;
          ssl_certificate_key  /etc/pki/tls/certs/server.key;
          
          ssl_session_timeout  5m;
          
          ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
          ssl_prefer_server_ciphers   on;

          # For enhanced health reporting support, uncomment this block:

          #if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
          #    set $year $1;
          #    set $month $2;
          #    set $day $3;
          #    set $hour $4;
          #}
          #access_log /var/log/nginx/healthd/application.log.$year-$month-$day-$hour healthd;
          #access_log  /var/log/nginx/access.log  main;
          
          location / {
              proxy_pass  http://nodejs;
              proxy_set_header   Connection "";
              proxy_http_version 1.1;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Real-IP       $remote_addr;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header        X-Forwarded-Proto https;
          }
      }
      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDjzCCAnegAwIBAgIUQUtSGzmsjsRZC1HVPMR39UF+5OcwDQYJKoZIhvcNAQEL
      BQAwWDEUMBIGA1UEAwwLdGVlbnl1cmwuaW4xEzARBgNVBAcMCkphbXNoZWRwdXIx
      EjAQBgNVBAgMCUpoYXJraGFuZDEKMAgGA1UECgwBTjELMAkGA1UEBhMCSU4wHhcN
      MjQwNTAzMDQ1MDQyWhcNMjUwNTAzMDQ1MDQyWjBYMRQwEgYDVQQDDAt0ZWVueXVy
      bC5pbjETMBEGA1UEBwwKSmFtc2hlZHB1cjESMBAGA1UECAwJSmhhcmtoYW5kMQow
      CAYDVQQKDAFOMQswCQYDVQQGEwJJTjCCASIwDQYJKoZIhvcNAQEBBQADggEPADCC
      AQoCggEBAMl76M1OD2JYGrzQnYNQfGuLXKiNsHUkkinMilMEym0PTsoh4zB045eu
      JRn/d03f9AwY6bo1q/eGSZIVWCz/KYI75uFGG5bTgjeBsXbm3SC9f2t/T78tfzie
      gbt0necJbuWg4eHvb17DYCzW/98YRC22OftRTAEO7mK6OBq1ql0OBplsxG2Ie9NO
      5C3aYelvEt19QNTi982pP5qvDLY9XrYjG6pVgX2yQvjF9dGsQ2bHKYtT4dq91ilK
      W8LNZWIFxMwgBXj4C/Fwokt8Iy31EgzDTX1Mt6rakOR7UkTeIptAQogvWuxt2mst
      gRh/13OYFYwbs3J8Gq184XzVHD/gaLkCAwEAAaNRME8wCQYDVR0TBAIwADALBgNV
      HQ8EBAMCBaAwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMBYGA1UdEQQP
      MA2CC3RlZW55dXJsLmluMA0GCSqGSIb3DQEBCwUAA4IBAQA7+wABlKtTClBIMUV2
      zzywtUGfIN6dwd306SHeW8RuA/7z37IsEVjQfR2R6K9QIfl+Ho60HmYjaPeeDzNZ
      EDgektkADL5Uq/a4sGlhquC8m7wTI+T0yYnZLmvVkPqS0vLFYiDvTYb1NgB1UO3s
      1SP2jR8HS3AirkniDObvdC+UZ9OMeWAgwfhJ0v5HIhhVuPIFuVSYh5nWYb1522PU
      KoafK9rgyX9OHuGotMoPgV2cfPkaIY8ziUfY5WVI5aqfe8Kd5aLYjhjjtq4IaoIY
      ImHJvVtQscttZXamCPe+86IiQbMDgQspC9XaI5R6khLomPwcEWddvHORpVbxGrY3
      YbJe
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      private key contents # See note below.
      -----END RSA PRIVATE KEY-----